## Local Settings for the osim-rl-grader

CROWDAI_URL="API endpoint for the CrowdAI Instance, ex : http://www.crowdai.org/api/external_graders/"
CROWDAI_CHALLENGE_ID="Challenge ID of the corresponding challenge"
CROWDAI_TOKEN="Authentication Token provided by CrowdAI"

REDIS_HOST="127.0.0.0" 
REDIS_PORT=6379
