boto==2.46.1
click==6.7
Cython==0.25.2
Flask==0.11.1
futures==3.0.5
gym==0.9.1
itsdangerous==0.24
Jinja2==2.9.4
MarkupSafe==0.23
meld3==1.0.2
nose2==0.6.5
numpy==1.12.1
-e git+https://github.com/stanfordnmbl/osim-rl@60ca219e5f091c6a8e597609815f88cdc6ffcaff#egg=osim_rl
pyglet==1.2.4
redis==2.10.5
requests==2.14.2
rq==0.7.1
six==1.10.0
supervisor==3.3.1
tinys3==0.1.12
Werkzeug==0.11.15
